@font-face {
  font-family: "gotham-black";
  src: url("../fonts/gotham-black.woff2");
}

@font-face {
  font-family: "gotham-bold";
  src: url("../fonts/gotham-bold.woff2");
}

@font-face {
  font-family: "gotham-book";
  src: url("../fonts/gotham-book.woff2");
}

@font-face {
  font-family: "gotham-light";
  src: url("../fonts/gotham-light.woff2");
}
