@use "../styles/variables/index.scss" as *;

.main__container {
  width: 100%;
  height: 100dvh;
}

.header {
  height: 125px;
  background-color: $dark;
  display: flex;
  justify-content: center;
  margin-bottom: 75px;

  img {
    width: 200px;
  }
}

.main__content__container {
  display: flex;
  justify-content: center;
  margin-bottom: 75px;

  > div {
    width: 50%;

    h1 {
      width: 200px;
      color: $gray800;
      font-family: "gotham-black";
      position: relative;
      margin-bottom: 65px;

      &::after {
        content: "";
        width: 75px;
        height: 10px;
        background-color: $gray800;
        position: absolute;
        bottom: -25px;
        left: 0;
      }
    }

    p {
      font-family: "gotham-book";
      color: $gray800;
      margin-bottom: 32px;
    }
  }
}

.unit__listing {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.footer {
  height: 250px;
  background-color: $gray800;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 125px;
    margin-bottom: 16px;
  }

  span {
    color: $white;
  }
}
